{% extends "base.html" %}

{% block content %}
    <div class="row password-page justify-content-center" style="margin-top: 10%;">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" action="{% url 'password' %}">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.errors | safe }}
                    </div>
                {% endif %}
                <fieldset class="form-group">
                    <label>原始密码</label>
                    <input class="form-control form-control-lg" type="password" name="raw_password" placeholder="原始密码">
                </fieldset>
                <fieldset class="form-group">
                    <label>新密码</label>
                    <input class="form-control form-control-lg" type="password" name="new_password" placeholder="密码">
                </fieldset>
                <fieldset class="form-group">
                    <label>确认密码</label>
                    <input class="form-control form-control-lg" type="password" name="new_confirm_password" placeholder="确认密码">
                </fieldset>
                <fieldset class="form-group">
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="更新" />
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
